header{
    background-color: #00abae;
    height: 530px;
}
header .white{
    color: white;
    font-size: 50px;
    padding-top: 182px;
    padding-left: 800px;
}
header .white_2{
    color: rgba(225, 225, 225, 0.9);
    text-align: center;
    margin-left: 300px;
}
.profile{
    background-color: whitesmoke;
    height: 530px;
}
.profile h1{
    text-align: center;
}
.profile img{
    width: 100%;
    max-width: 125px;
    height: 100%;
    max-height: 125px;
}
.profile .Iam img{
    padding-left: 680px;
}
.profile .abae{
    color: #00abae;
    text-align: center;
}
.profile .me{
    text-align: center;
}
/* 補助付き */
.icon{
    list-style: none;
    width: 100%;
    max-width: 252px;
    height: 125px;
    max-height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 0;
}
.icon li{
    margin-right: 22px;
}
/* 補助付き ここまで */