header{
    /* backgroundで背景にグラデーション */
    background: linear-gradient(#00abae,#000) fixed;
    height: 640px;
    width: 100%;
}
header .white{
    color: white;
    font-size: 62px;
    padding-top: 280px;
    padding-left: 800px;
}
header .white_2{
    font-size: 24px;
    color: rgba(225, 225, 225, 0.9);
    text-align: center;
    margin-left: 360px;
}
.profile{
    background-color: whitesmoke;
    height: 530px;
}
.profile h1{
    text-align: center;
}
.profile img{
    width: 100%;
    max-width: 125px;
    height: 100%;
    max-height: 125px;
}
.profile .abae{
    color: #00abae;
    text-align: center;
}
.profile .me{
    text-align: center;
}
/* 補助付き */
.icon{
    list-style: none;
    width: 100%;
    max-width: 252px;
    height: 125px;
    max-height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 0;
}
.icon li{
    margin-right: 22px;
}
/* 補助付き ここまで */
.blue_{
    color: #00abae;
}
.white_{
    color: white;
}
.works .white_2{
    color: rgba(225, 225, 225, 0.9);
}
.works{
    text-align: center;
    background-color: #00abae;
}

/* 追加 */
.works li{
    list-style: none;
}